<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite TestNG"> 
<test name="ToolsQA">
<parameter name="username" value="testuser_1"/>
<parameter name="password" value="Test@123" />
<classes>
<class name="automationFramework.TestNGParameters" />
</classes>
</test>
</suite>