<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite TestNG"> 
<test name="ToolsQA">
<classes>
<class name="automationFramework.TestNG" />
<class name="automationFramework.BrowserNavigation" />
<class name="automationFramework.DropDownBoxList" />
<class name="automationFramework.Log4j" />
<class name="automationFramework.MouseHover" />
</classes>
</test>
</suite>